* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-height: calc(100vh - 230px);
  overflow: auto;
}

.piggy-bank {
  width: 20vh;
  padding-bottom: 15vh;
  background: linear-gradient(to bottom, orange, #ff9800);
  margin: 2%;
  position: relative;
  border: 5px solid black;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  z-index: 1;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); /* Ajout d'une ombre portée */
}

.piggy-bank.selected {
  border-color: white;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 5px 10px rgba(0, 0, 0, 0.3); /* Ajout d'une ombre portée différente */
}

.piggy-bank h3 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  color: black;
  transition: color 0.3s ease-in-out; /* Transition de couleur pour le titre */
}

.piggy-bank p {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 18px;
  transition: color 0.3s ease-in-out; /* Transition de couleur pour le solde */
}

.budget-amount {
  display: block;
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
  color: purple;
}

.buttons-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
  z-index: 1;
}

button {
  flex: 1 0 20%;
  height: 60px;
  margin: 6px;
  font-size: 180%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 0;
  transition: all 0.3s ease-in-out;
}

button:active {
  transform: scale(0.95);
  background-color: #555;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

@media (max-width: 480px) {
  .buttons-container {
    flex-wrap: wrap;
    align-items: center;
  }

  button {
    flex: 1 0 40%;
    height: 60px;
    margin: 6px;
    font-size: 140%;
  }
}
